<h2>Sign Up</h2>

<form method="post">
    <div class="mb-3">
        <label>Username</label>
        <input type="text" class="form-control" name="username" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" name="email" />
    </div>

    <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" name="password" />
    </div>

    <button type="submit" class="btn btn-success">Register</button>
</form>