html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sidebar {
    width: 230px;
    min-height: 100vh;
    transition: all 0.3s;
}

    .sidebar.collapsed {
        width: 70px;
    }

        .sidebar.collapsed span {
            display: none;
        }

        .sidebar.collapsed h5 {
            display: none;
        }

    .sidebar .nav-link {
        color: #333;
        font-size: 15px;
    }

        .sidebar .nav-link:hover {
            background: #f1f1f1;
            border-radius: 5px;
        }

        .sidebar .nav-link.active {
            background: #0d6efd;
            color: white;
            border-radius: 5px;
        }

    .sidebar i {
        margin-right: 6px;
    }

/* ===== Brown Theme ===== */

.modal-brown {
    background-color: #8B4513;
    color: white;
}

/* Brown Button */
.btn-brown {
    background-color: #8B4513;
    color: white;
    border: none;
}

.btn-brown:hover {
    background-color: #6f3710;
    color: white;
}

/* Optional nicer modal header */
.modal-header {
    border-bottom: none;
}

/* Form spacing improvement */
.modal-body label {
    font-weight: 500;
}